body{
    background: rgb(255,124,124);
    background: linear-gradient(180deg, rgba(255,124,124,1) 10%, rgba(255,196,196,1) 75%);
    background-attachment: fixed;
}
.mainContent{
   
    width: 500px;
}
.toDoUl li{
    background-color:crimson;
    border: solid;
    margin: 5px;
    padding: 10px;
}
h1{
    color: rgb(43, 255, 0);
    
}

.input{
   background-color: rgb(157, 255, 0); 
   padding: 15px;
}

.checked {
    text-decoration:line-through;
    color: gray;
    opacity: 0.5;

}

.removeTask {
    font-size: 10px;
    margin-left: 10px;
    cursor: pointer;
}