body{
    background: rgb(255,196,196);
    background: linear-gradient(180deg, rgba(255,196,196,1) 10%, rgba(255,124,124,1) 75%);
    background-attachment: fixed;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.mainContent{
   
    background-color: white; 
    width: 35%;
    margin: auto;
}
.toDoUl li{
    list-style: none;
}
h1{
    color: black;
    font-size: 4em;
    margin-bottom: 0;
}

p{
    margin-top: 0;
}
input{
    outline-color: blue;
}
.input{
   
   padding: 15px;
}

.checked {
    text-decoration:line-through;
    color: gray;
    opacity: 0.5;

}

.removeTask {
    font-size: 10px;
    margin-left: 10px;
    cursor: pointer;
}