body{
    background: rgb(255,196,196);
    background: linear-gradient(180deg, rgba(255,196,196,1) 10%, rgba(255,124,124,1) 75%);
    background-attachment: fixed;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.mainContent{
   
    background-color: white; 
    width: 35%;
    margin: auto;
    animation: enter-page 1s;
    margin-top: 0;
}
.toDoUl li{
    list-style: none;
    
}

h1{
    color: black;
    font-size: 4em;
    margin-bottom: 0;
    margin-top: 0;
}

p{
    margin-top: 0;
}
input{
    outline-color: blue;
}
.input{
   opacity: 0;
   padding: 15px;
   animation: enter-text 5s 1s  forwards;
   animation-direction: inherit;
}

.checked {
    text-decoration:line-through;
    color: gray;
    opacity: 0.5;

}

.removeTask {
    font-size: 10px;
    margin-left: 10px;
    cursor: pointer;
}
@keyframes enter-page{
    0%{
        transform: translate(0, 0px);
        opacity: 0;
    }
    50%{
        transform: translate(0,50px);
        
    }
    100%{
        transform: translate(0, -200);
        opacity: 1;
    }
  }
  @keyframes enter-text{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
  }